.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 300px;
}
.wrapper > .container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
.header {
  background-color: #f4f5f6;
  padding-top: 1rem;
}
@media (min-width: 40rem) {
  .header {
    padding-top: 5rem;
  }
}
.header + section {
  border-top: 0;
}
.header .container {
  border-top: 0;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
  position: relative;
  text-align: center;
}
.header .title {
  font-family: Roboto, sans-serif;
}
.header .button {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
@media (min-width: 40rem) {
  .header .button {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
.navigation {
  background: #f4f5f6;
  border-bottom: 0.1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}
.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
@media (min-width: 80rem) {
  .navigation .navigation-list {
    margin-right: 0;
  }
}
.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}
.navigation .navigation-title,
.navigation .title {
  color: #606c76;
  font-family: Roboto, sans-serif;
  position: relative;
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}
.navigation .navigation-link.active {
  color: #606c76;
}
footer {
  display: block;
}
.outline-row .column {
  padding: 15px;
}
.outline-row .column .outline-column {
  border: 0.1rem solid #9b4dca;
  border-radius: 0.4rem;
  padding: 5px;
  height: 100%;
  min-height: 62px;
}
.outline-row .column .outline-column .numeric-value {
  text-align: right;
}
@media (max-width: 40rem) {
  .outline-row .column.column-20,
  .outline-row .column.column-25,
  .outline-row .column.column-50 {
    max-width: none;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.alert {
  text-align: center;
  padding: 20px;
  margin: 15px;
  font-weight: 700;
  border-width: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.alert p {
  margin: 0;
}
.alert.alert-danger {
  background-color: #fa1503;
  border-color: #990b00;
  color: #fff;
}
