{% extends "base.html" %}

{% load i18n meter_tags static %}

{% block content %}
    <div class="container">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Register</th>
                        <th>Identifier</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for register in registers %}
                    <tr>
                        <td>{{ register.register }}</td>
                        <td>{{ register.identifier }}</td>
                        <td>{{ register.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="text-center">
            <a href="{{ request.path }}" class="button">
                {% trans "Reload" %}
            </a>
        </div>
    </div>
{% endblock %}
