{% extends "base.html" %}

{% load i18n meter_tags static %}

{% block content %}
    <div class="container">
        <div class="row outline-row">
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{{ meter.get_reader_type_display }}</strong>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Date" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value date">{{ last_record.created|default_if_none:""|date:"d. m. Y" }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Time" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value time">{{ last_record.created|default_if_none:""|date:"H:i:s" }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row outline-row">
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Voltage V" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value voltage">
                            {{ last_record.voltage|floatformat:3 }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Current A" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value current">
                            {{ last_record.current|floatformat:5 }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Active Power W" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value active_power">
                            {{ last_record.active_power|floatformat:4 }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row outline-row">
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "WattHours Wh" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value watt_hours">
                            {{ last_record.watt_hours|floatformat:4 }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "AmperHours Ah" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value ampere_hours">
                            {{ last_record.ampere_hours|floatformat:4 }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Time s" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value measurement_time">
                            {{ last_record.measurement_time|floatformat:0 }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column column-50 text-center">
                <button type="button" class="button button-outline" id="update-now">
                    <span class="freeze">{% trans "Save current values and stop updating" %}</span>
                    <span class="unfreeze" style="display: none;">{% trans "Start updating again" %}</span>
                </button>
            </div>
            <div class="column column-50 text-center">
                <button type="button" class="button button-outline" id="save-values">
                    <span class="activate">{% trans "Save continously" %}</span>
                    <span class="deactivate" style="display: none;">{% trans "Stop saving continously" %}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="column column-50 text-center">
                <button type="button" class="button" id="export">
                    {% trans "Export Data" %}
                </button>
            </div>
            <div class="column column-50 text-center">
                <button type="button" class="button" id="clear-data">
                    {% trans "Clear Data" %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        window.urls = {
            clear_data: "{% url "meter:clear" meter.ip %}",
            export_data: "{% url "meter:export" meter.ip %}",
            data: "{% url "meter:data" meter.ip %}",
            save_current: "{% url "meter:save_current" meter.ip %}",
            change_save_continuously: "{% url "meter:change_save_continuously" meter.ip %}",
        };
        window.save_continuously = {% if meter.save_continuously %}true{% else %}false{% endif %};
    </script>
    <script src="{% static "meter.js" %}" type="text/javascript"></script>
{% endblock %}
