{% extends "base.html" %}

{% load i18n meter_tags static %}

{% block content %}
    <div class="container">
        <div class="row outline-row">
            <div class="column column-25">
                <div class="outline-column">
                    <strong>{{ meter.get_reader_type_display }}</strong>
                </div>
            </div>
            <div class="column column-25">
                <div class="outline-column">
                    <strong>{% trans "Date" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value date">{{ last_record.created|default_if_none:""|date:"d. m. Y" }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-25">
                <div class="outline-column">
                    <strong>{% trans "Time" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value time">{{ last_record.created|default_if_none:""|date:"H:i:s" }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-25">
                {% if meter.show_serial_number %}
                    <div class="outline-column">
                        <strong>{% trans "Serial Number" %}</strong><br>
                        <div class="text-right">
                            <span class="record-value serial-number">{{ last_record.serial_number }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% for phase in phases %}
            <div class="row outline-row">
                <div class="column column-25">
                    <div class="outline-column">
                        <strong>
                            {% trans "Phase" %} {% if not one_phase %}{{ phase|upper }}{% else %}L{% endif %}
                        </strong>
                    </div>
                </div>
                <div class="column column-25">
                    <div class="outline-column">
                        <strong>{% trans "Voltage V" %}</strong><br>
                        <div class="text-right">
                            <span class="record-value {{ phase }}-voltage">
                                {{ last_record|voltage:phase|floatformat:voltage_decimals }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column column-25">
                    <div class="outline-column">
                        <strong>{% trans "Current A" %}</strong><br>
                        <div class="text-right">
                            <span class="record-value {{ phase }}-current">
                                {{ last_record|current:phase|floatformat:current_decimals }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column column-25">
                    <div class="outline-column">
                        <strong>{% trans "Active Power kW" %}</strong><br>
                        <div class="text-right">
                            <span class="record-value {{ phase }}-power">
                                {{ last_record|active_power:phase|floatformat:power_decimals }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row outline-row">
            {% if not one_phase %}
                <div class="column column-50">
                    <div class="outline-column">
                        <strong>{% trans "Total Active Power kW" %}</strong><br>
                        <div class="text-right">
                            <span class="record-value total-power">
                            {{ last_record.total_active_power|default_if_none:""|floatformat:power_decimals }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="column {% if not one_phase %}column-50{% endif %}">
                <div class="outline-column">
                    <strong>{% trans "Total Active Energy kWh" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value total-energy">
                            {{ last_record.total_active_energy|default_if_none:""|floatformat:energy_decimals }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column column-50 text-center">
                <button type="button" class="button button-outline" id="update-now">
                    <span class="freeze">{% trans "Save current values and stop updating" %}</span>
                    <span class="unfreeze" style="display: none;">{% trans "Start updating again" %}</span>
                </button>
            </div>
            <div class="column column-50 text-center">
                <button type="button" class="button button-outline" id="save-values">
                    <span class="activate">{% trans "Save continously" %}</span>
                    <span class="deactivate" style="display: none;">{% trans "Stop saving continously" %}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="column column-50 text-center">
                <button type="button" class="button" id="export">
                    {% trans "Export Data" %}
                </button>
            </div>
            <div class="column column-50 text-center">
                <button type="button" class="button" id="clear-data">
                    {% trans "Clear Data" %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        window.urls = {
            clear_data: "{% url "meter:clear" meter.ip %}",
            export_data: "{% url "meter:export" meter.ip %}",
            data: "{% url "meter:data" meter.ip %}",
            save_current: "{% url "meter:save_current" meter.ip %}",
            change_save_continuously: "{% url "meter:change_save_continuously" meter.ip %}",
        };
        window.save_continuously = {% if meter.save_continuously %}true{% else %}false{% endif %};
    </script>
    <script src="{% static "meter.js" %}" type="text/javascript"></script>
{% endblock %}
