{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
        <div class="alert alert-danger">
            <p>{% trans "The meter is currently not available." %}</p>
        </div>

        <div class="text-center">
            <a class="button" href="{{ meter.get_absolute_url }}">{% trans "Try again" %}</a>
        </div>
    </div>

{% endblock %}
