{% extends "meter.html" %}

{% load i18n meter_tags static %}

{% block content %}
    <div class="container">
        <div class="row outline-row">
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{{ meter.get_reader_type_display }}</strong>
                    <div class="text-right">
                        <span class="record-value ip-address">{{ meter.ip }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Date" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value date">{{ last_record.created|default_if_none:""|date:"d. m. Y" }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Time" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value time">{{ last_record.created|default_if_none:""|date:"H:i:s" }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row outline-row">
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Voltage AC [V]" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value voltage-ac">{{ last_record.voltage_ac }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Current [A]" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value current">{{ last_record.current }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Voltage DC [V]" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value voltage-dc">{{ last_record.voltage_dc }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row outline-row">
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Frequency [Hz]" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value frequency">{{ last_record.frequency }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row outline-row">
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Speed [rpm]" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value speed">{{ last_record.speed }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Torque [%]" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value torque">{{ last_record.torque }}</span>
                    </div>
                </div>
            </div>
            <div class="column column-33">
                <div class="outline-column">
                    <strong>{% trans "Power [%]" %}</strong><br>
                    <div class="text-right">
                        <span class="record-value power">{{ last_record.power }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column column-50 text-center">
                <button type="button" class="button button-outline" id="update-now">
                    <span class="freeze">{% trans "Save current values and stop updating" %}</span>
                    <span class="unfreeze" style="display: none;">{% trans "Start updating again" %}</span>
                </button>
            </div>
            <div class="column column-50 text-center">
                <button type="button" class="button button-outline" id="save-values">
                    <span class="activate">{% trans "Save continously" %}</span>
                    <span class="deactivate" style="display: none;">{% trans "Stop saving continously" %}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="column column-50 text-center">
                <button type="button" class="button" id="export">
                    {% trans "Export Data" %}
                </button>
            </div>
            <div class="column column-50 text-center">
                <button type="button" class="button" id="clear-data">
                    {% trans "Clear Data" %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
