{% load static i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mikuláš Poul @miki_cz">
    <meta name="description" content="Reader of Modbus devices made for vosaspsekrizik.cz">
    <title>{% trans "Meters" %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static "vendor/normalize/normalize.css" %}">
    <link rel="stylesheet" href="{% static "vendor/milligram/dist/milligram.min.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>

<main class="wrapper">

    <nav class="navigation">
        <section class="container">
            <a class="navigation-title" href="{% url "index" %}">
                <h1 class="title">{% trans "Meters" %}</h1>
            </a>
            <ul class="navigation-list float-right">
                <li class="navigation-item">
                    <a class="navigation-link" href="{% url "admin:index" %}">{% trans "Administration" %}</a>
                </li>
            </ul>
        </section>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer">
        <section class="container">
            <p>{% blocktrans %}
                Developed by <a href="https://mikulaspoul.cz/" target="_blank" title="mikulaspoul.cz">Mikuláš Poul</a>.
                Licensed under the <a target="_blank" href="https://gitlab.com/mikulaspoul/modbus2tcp-reader/blob/master/LICENSE">MIT License</a>,
                source code available on <a href="https://gitlab.com/mikulaspoul/modbus2tcp-reader" target="_blank">GitLab</a>.
            {% endblocktrans %}
        </section>
    </footer>

</main>

    <script src="{% static "vendor/jquery/jquery-3.3.1.min.js" %}" type="text/javascript"></script>

    {% csrf_token %}

    <script type="text/javascript">
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

    <script type="text/javascript">
        window.texts = {
            clear_failed: "{% trans "Clear data failed. Please try again later or reload the page." %}",
            load_failed: "{% trans "Loading data failed. Please try to reload the page." %}",
            save_current_failed: "{% trans "Saving the current data failed. Please try again later." %}",
            save_continuously_failed: "{% trans "Starting or stopping the automatic saving failed. Please try again later." %}",
        };
    </script>

    {% block extra_js %}{% endblock %}
</body>
</html>
