{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <section class="container">
        <h2 class="title">
            {% trans "Open a meter" %}
        </h2>
        <ul>
            {% for meter in meters %}
                <li><a href="{% url "meter:detail" meter.ip %}">{{ meter.ip }} ({{ meter.get_reader_type_display }})</a></li>
            {% endfor %}
        </ul>

    </section>

{% endblock %}